body {
    font-family: var(--text);
    font-size: var(--font-base);
    line-height: var(--leading-6);
   
    color: var(--foreground);
    background-color: var(--background);
  }
   
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading);
  }
   
  code {
    font-family: var(--monospace);
  }